<template>
    <base-card>
        <base-button @click="setSelectedtTab('stored-resources')" :mode="storedResButtonMode">Stored resource</base-button>
        <base-button @click="setSelectedtTab('add-resource')" :mode="addResButtonMode">Add resource</base-button>
    </base-card>
    <keep-alive>
        <component :is="selectedTab"></component> 
    </keep-alive>
</template>


<script>
import StoredResources from './StoredResources.vue';
import AddResource from './AddResource.vue';

export default {
    components:{
    StoredResources,
    AddResource
  },
    data() {
        return {
            selectedTab: 'stored-resources',
            storedResources: [
                {
                id:'official-guide',
                title:'Offical Guide',
                description: 'The official Vue.je documentation',
                link:'https://vue.org'
            },
            {
                id:'google',
                title:'Google',
                description: 'Learn to Google',
                link:'https://google.org'
            }
        ]
    };
    },
    provide(){
        return {
            resources : this.storedResources,
            addResource: this.addResource,
            deleteResource: this.removeResource
        }
    },
    computed: {
        storedResButtonMode(){
            return this.selectedTab==='stored-resources' ? null : 'flat';
        },
        addResButtonMode(){
            return this.selectedTab==='add-resource' ? null : 'flat';            
        }
    },
    methods: {
        setSelectedtTab(tab){
            this.selectedTab = tab;
        },
        addResource(title,description,link){
            const newResource = {
                id: new Date().toISOString(),
                title,
                description,
                link
                // push at the beginning of the array
            }
            this.storedResources.unshift(newResource);
            this.selectedTab = 'stored-resources';

        },
        removeResource(resId){
            const resindex = this.storedResources.findIndex(res => res.id == resId)
            this.storedResources.splice(resindex,1);
            console.log(this.storedResources);
        }
    }
}
</script>